In [1]:
import pandas as pd 
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
df = pd.ExcelFile("מבדק אקסל מחלקת כספים.xlsx")
df_data = pd.read_excel(df, 'Data')

In [10]:
df_data

,שם חברה,שם מסעדה,כמות עסקאות,TA /ישיבה/ משלוחים,חודש,סוג מטבח,סכום העסקה כולל מעמ
0,חברה1,buy the way - כפר סבא,1,ישיבה,אוקטובר,בית קפה,12.820513
1,חברה1,hiro שרונה - תל אביב,1,ישיבה,אוקטובר,אסיאתי,49.572650
2,חברה1,wok to wolk שרונה - תל אביב,4,ישיבה,אוקטובר,אסיאתי,128.205128
3,חברה1,wok to wolk שרונה - תל אביב,2,ישיבה,נובמבר,אסיאתי,59.316239
4,חברה1,אושי אושי - גבעתיים,1,משלוחים,אוקטובר,יפני/סושי,91.538462
...,...,...,...,...,...,...,...
10113,חברה55,גמס ביר פקטורי - שוק הצפון רמת החייל,1,ישיבה,נובמבר,בר,46.153846
10114,חברה55,גפניקה - נתניה פולג,13,ישיבה,ספטמבר,יפני/סושי,662.393162
10115,חברה55,גפניקה - נתניה פולג,13,ישיבה,אוקטובר,יפני/סושי,684.615385
10116,חברה55,גפניקה - נתניה פולג,18,ישיבה,נובמבר,יפני/סושי,950.427350
10117,חברה55,גפניקה - רעננה,1,ישיבה,אוקטובר,יפני/סושי,39.316239

In [11]:
list(df_data.columns)

['שם חברה ',
 'שם מסעדה',
 'כמות עסקאות',
 'TA /ישיבה/ משלוחים',
 'חודש',
 'סוג מטבח',
 'סכום העסקה כולל מעמ ']

מהו סכום העסקאות הכולל: 1

In [12]:
df_data['סכום העסקה כולל מעמ '].sum()

3464088.282051282

In [13]:
#df_data['שם מסעדה'].tolist()

In [43]:
filter_october = df_data['חודש'] =='אוקטובר'
filter_november =  df_data['חודש'] =='נובמבר'
filter_september =  df_data['חודש'] =='ספטמבר'
filter_one_transaction = df_data["כמות עסקאות"] ==1

In [49]:
un_transakt_sept = (df_data[filter_september][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()
un_transakt_sept

C:\Users\User\AppData\Local\Temp\ipykernel_18424\1874264821.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  un_transakt_sept = (df_data[filter_september][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()

803

In [50]:
un_transakt_oct = (df_data[filter_october][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()
un_transakt_oct

C:\Users\User\AppData\Local\Temp\ipykernel_18424\1452864142.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  un_transakt_oct = (df_data[filter_october][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()

897

In [51]:
un_transakt_nov = (df_data[filter_november][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()
un_transakt_nov

C:\Users\User\AppData\Local\Temp\ipykernel_18424\3260293083.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  un_transakt_nov = (df_data[filter_november][filter_one_transaction]['שם מסעדה'].value_counts()==1).sum()

886

מהו סכום העסקאות הכולל בחודש אוקטובר ללא מעמ: 2

In [15]:
sum_oct = df_data[filter_october][ 'סכום העסקה כולל מעמ '].sum()

In [16]:
sum_oct_without_VAT = sum_oct /1.17
sum_oct_without_VAT

1129383.8921762002

In [17]:
sum_oct_without_VAT

1129383.8921762002

3 מהו אחוז השינוי (גידול/קיטון) בסכום העסקאות בין החודשים אוקטובר לנובמבר?

In [18]:
filter_Oshi_Oshi= df_data["שם מסעדה"] =="אושי אושי - גבעתיים"

In [19]:
filter_november =  df_data['חודש'] =='נובמבר'

In [20]:
mean_november_Osshi = df_data[filter_Oshi_Oshi][filter_november]['סכום העסקה כולל מעמ '].mean()

C:\Users\User\AppData\Local\Temp\ipykernel_18424\3169502661.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mean_november_Osshi = df_data[filter_Oshi_Oshi][filter_november]['סכום העסקה כולל מעמ '].mean()

In [21]:
mean_november_Osshi

122.3076923076923

In [22]:
sum_nov = df_data[filter_november][ 'סכום העסקה כולל מעמ '].sum()
sum_nov

1310165.4957264957

In [23]:
sum_oct = df_data[filter_october][ 'סכום העסקה כולל מעמ '].sum()
sum_oct

1321379.153846154

מהו אחוז השינוי (גידול/קיטון) בסכום העסקאות בין החודשים אוקטובר לנובמבר? 4

In [24]:
a = ((sum_nov - sum_oct)/sum_oct) *100
a

-0.8486328914012692

In [25]:
def procent_chenge(sum_oct,sum_nov):
    procent = ((sum_nov - sum_oct) /sum_oct)*100
    return procent

In [26]:
procent = procent_chenge(sum_oct,sum_nov)
print(procent)

-0.8486328914012692

5 בגיליון DATA, צבע בכחול את המסעדות שבחודש מסויים הייתה בהן רק עסקה אחת. כמה מקרים מסוג זה יש?

In [27]:
filter_one_transaction = df_data["כמות עסקאות"] ==1

In [28]:
df_data[filter_one_transaction]

,שם חברה,שם מסעדה,כמות עסקאות,TA /ישיבה/ משלוחים,חודש,סוג מטבח,סכום העסקה כולל מעמ
0,חברה1,buy the way - כפר סבא,1,ישיבה,אוקטובר,בית קפה,12.820513
1,חברה1,hiro שרונה - תל אביב,1,ישיבה,אוקטובר,אסיאתי,49.572650
4,חברה1,אושי אושי - גבעתיים,1,משלוחים,אוקטובר,יפני/סושי,91.538462
9,חברה1,ארומה קניון עזריאלי - תל אביב,1,ישיבה,נובמבר,בית קפה,16.239316
11,חברה1,ארומה אספרסו בר - מתחם G כפר סבא,1,ישיבה,נובמבר,בית קפה,24.786325
...,...,...,...,...,...,...,...
10104,חברה55,גירף - רמת החייל,1,ישיבה,אוקטובר,אסיאתי,29.914530
10109,חברה55,גירף דרורים - בני דרור,1,ישיבה,נובמבר,אסיאתי,130.769231
10110,חברה55,גמבה פיצה בר - נתניה,1,ישיבה,ספטמבר,פיצריה,64.102564
10113,חברה55,גמס ביר פקטורי - שוק הצפון רמת החייל,1,ישיבה,נובמבר,בר,46.153846
10117,חברה55,גפניקה - רעננה,1,ישיבה,אוקטובר,יפני/סושי,39.316239

In [29]:
df_data["כמות עסקאות"].value_counts()

כמות עסקאות
1       4650
2       1580
3        798
4        496
5        379
        ...
2018       1
2495       1
1492       1
263        1
245        1
Name: count, Length: 218, dtype: int64

In [30]:
rest_transaction_sept = df_data[filter_september].groupby('שם מסעדה')['כמות עסקאות'].count()
rest_transaction_sept

שם מסעדה
B12 פולג - נתניה                  2
BAR B QUE - הרצליה                5
BBB - הארבעה תל אביב              1
BBB - חולון                       1
BBB - יקנעם                       6
                                 ..
תוקתוק מטבח אסיאתי - כפר טרומן    4
תנעמי חומוס בר - רעננה            2
תפן עתידים חלבי-רמת החייל         1
תפן עתידים-רמת החייל              2
תרזה - אור יהודה                  2
Name: כמות עסקאות, Length: 1696, dtype: int64

In [31]:
filer_rest_one_transaction_september = rest_transaction_sept ==1
df_data.isin(filer_rest_one_transaction_september)

,שם חברה,שם מסעדה,כמות עסקאות,TA /ישיבה/ משלוחים,חודש,סוג מטבח,סכום העסקה כולל מעמ
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
10113,False,False,False,False,False,False,False
10114,False,False,False,False,False,False,False
10115,False,False,False,False,False,False,False
10116,False,False,False,False,False,False,False
10117,False,False,False,False,False,False,False

6 מהו אחוז עסקאות המשלוחים מתוך כלל העסקאות בחברה ששמה: חברה32?

In [32]:
filter_company_32 = df_data['שם חברה ']  == 'חברה32'
filter_shipping = df_data['TA /ישיבה/ משלוחים']=='משלוחים'
df_data[filter_company_32]['סכום העסקה כולל מעמ '].sum()
df_data[filter_company_32][filter_shipping]['סכום העסקה כולל מעמ '].sum()

C:\Users\User\AppData\Local\Temp\ipykernel_18424\1259582263.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[filter_company_32][filter_shipping]['סכום העסקה כולל מעמ '].sum()

15683.495726495728

In [33]:
sum_transaction_company32 = df_data[filter_company_32]['סכום העסקה כולל מעמ '].sum()

In [34]:
sum_transaction_company32_shiping= df_data[filter_company_32][filter_shipping]['סכום העסקה כולל מעמ '].sum()

C:\Users\User\AppData\Local\Temp\ipykernel_18424\4226795750.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sum_transaction_company32_shiping= df_data[filter_company_32][filter_shipping]['סכום העסקה כולל מעמ '].sum()

In [35]:
procent_shipping_company32 = (sum_transaction_company32_shiping/sum_transaction_company32) *100
procent_shipping_company32

43.90808673800237

In [36]:
df_data[filter_september][filter_company_32].shape[0]

C:\Users\User\AppData\Local\Temp\ipykernel_18424\1659765277.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[filter_september][filter_company_32].shape[0]

69

In [37]:
count_of_values = df_data[filter_september][filter_company_32]['סוג מטבח'].value_counts()
count_of_values

C:\Users\User\AppData\Local\Temp\ipykernel_18424\4080640785.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  count_of_values = df_data[filter_september][filter_company_32]['סוג מטבח'].value_counts()

סוג מטבח
חנות נוחות/מכולת     11
בית קפה              10
בשרים                 9
אסיאתי                6
חלבי                  5
סלטים וסנדוויצ'ים     5
איטלקי / צרפתי        5
אוכל ביתי             4
מזון מהיר             4
פיצריה                2
יפני/סושי             2
חומוסיה               2
צמחוני/טבעוני         2
הודי                  1
ביסטרו                1
Name: count, dtype: int64

In [38]:
count_of_shops = count_of_values.max()
count_of_shops

11

In [39]:
procent_of_shops= count_of_shops/count_of_values
procent_of_shops

סוג מטבח
חנות נוחות/מכולת      1.000000
בית קפה               1.100000
בשרים                 1.222222
אסיאתי                1.833333
חלבי                  2.200000
סלטים וסנדוויצ'ים     2.200000
איטלקי / צרפתי        2.200000
אוכל ביתי             2.750000
מזון מהיר             2.750000
פיצריה                5.500000
יפני/סושי             5.500000
חומוסיה               5.500000
צמחוני/טבעוני         5.500000
הודי                 11.000000
ביסטרו               11.000000
Name: count, dtype: float64

In [40]:
filter_pizeria = df_data['סוג מטבח'] =='פיצריה'

In [41]:
df_data[filter_company_32][filter_pizeria][filter_september]['סכום העסקה כולל מעמ '].sum()

C:\Users\User\AppData\Local\Temp\ipykernel_18424\3991424064.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[filter_company_32][filter_pizeria][filter_september]['סכום העסקה כולל מעמ '].sum()
C:\Users\User\AppData\Local\Temp\ipykernel_18424\3991424064.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[filter_company_32][filter_pizeria][filter_september]['סכום העסקה כולל מעמ '].sum()

177.82051282051282

In [42]:
df_data[filter_company_32][filter_september]['סכום העסקה כולל מעמ '].sum()

C:\Users\User\AppData\Local\Temp\ipykernel_18424\97145193.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[filter_company_32][filter_september]['סכום העסקה כולל מעמ '].sum()

8189.0940170940175